.typesWaitScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}


.typesWaitfade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: .8;
    background-color: white;
}

.typesWaitShow {

    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}

.waitLet {
    position: absolute;

    -webkit-animation: size 2s linear infinite;
    -moz-animation: size 2s linear infinite;
    animation: size 2s linear infinite;
}

@keyframes size {
    0% {
        height: 0%;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    25% {
        height: 2%;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        height: 8%;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        height:0%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}